@{
    Page.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create a new Chemical Entry </h2>
<h3>All Fields Must be Filled out correctly to submit a new Chemical.</h3>

<form class="create-form">
    <input required="required" type="number"    name="amount"       placeholder="Amount" min="0" />
    <input required="required" type="text"      name="chemName"     placeholder="Chemical Name"/>
    <input required="required" type="text"      name="comName"      placeholder="Common Name"/>
    <input required="required" type="number"    name="ContSize"     placeholder="Container Size"/>
    <input required="required" type="text"      name="ContUnit"     placeholder="Container Unit" />
    <input required="required" type="text"      name="ContType"     placeholder="Container Type" />
    <input required="required" type="number"    name="CSCnum"       placeholder="CSC Number"  />
    <input required="required" type="number"    name="CASnum"       placeholder="CAS Number"  />
    <input required="required" type="text"      name="Manufacturer" placeholder="Manufacturer Name"  />
    <input required="required" type="date"      name="ExpDate"      placeholder="Exp. Date" />
    <input required="required" type="submit"    name="Submit" title="Create" value="Create" />
</form>
