@{
    Page.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create a new Chemical Entry </h2>
<h3>All Fields Must be Filled out correctly to submit a new Chemical.</h3>

<form class="create-form" method="post" action="~/Admin/Upload">
    <h4>Amount:           </h4><input required="required" type="number"    name="amount"       placeholder="Amount" min="0" />
    <h4>Chemical Name:    </h4><input required="required" type="text" name="chemName" placeholder="Chemical Name" />
    <h4>Common Name:      </h4><input type="text" name="commName" placeholder="Common Name" /><br />
    <h4>Container Size:   </h4> 
    <div class="inline-labels">   
        <h4>Container Unit:   </h4><h4> Container Type:  </h4>
    </div><br />
    <input required="required" type="number" name="ContSize" placeholder="Container Size" />
    <div class="inline-inputs">
        <input required="required" type="text" name="ContUnit" placeholder="Container Unit" />
        <input required="required" type="text" name="ContType" placeholder="Container Type" />
    </div>
    <h4>CSC #:            </h4><input  type="text" name="CSCnum" placeholder="CSC Number" min="0" />
    <h4>CAS #:            </h4><input  type="text" name="CASnum" placeholder="CAS Number" min="0" />
    <h4> Manufacturer:    </h4><input required="required" type="text" name="Manufacturer" placeholder="Manufacturer Name" />
    <h4>Exp. Date:        </h4><input required="required" type="date"  name ="ExpDate" placeholder="Exp. Date" />
    <h4>Room #:           </h4><input type="text" name="RoomNum" placeholder="Room #" />
    <h4>Cabinet:          </h4><input required="required" type="text" name="Cabinet" placeholder="Cabinet" />
    
    <input type="submit" value="Create" />
</form>
